<div class="container mt-5 pt-2">
    <% flash.each do |key, value| %>
    <div class="alert alert-success <%= flash_class(key) %>">
        <%= value %>
    </div>
    <% end %>


    <p>
        <%= button_to new_reservation_path, class:'btn btn-outline-primary', method: :get do%>
        <i class="fa fa-plus-circle text-success"> </i>
        <span> New Reservation</span>
        <% end %>
    </p>


    <h4 class="list-group-item text-capitalize active">All Reservations (<%= @reservations.count %>) </h4>


    <div class="table-responsive">
        <table class="table table-sm">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Size</th>
                    <th>Date/Time</th>
                    <th class="d-none d-lg-table-cell">Phone</th>
                    <th>Action</th>

                </tr>
            </thead>
            <tbody>
                <% @reservations.each_with_index do |reservation, index| %>
                <tr>
                    <td><%= index+1 %></td>
                    <td class="text-capitalize"><%= link_to reservation.name, reservation_path(reservation)  %></td>
                    <td><%= reservation.guestNumber %></td>
                    <td><%= reservation.datetime %></td>
                    <td class="d-none d-lg-table-cell"> <%= reservation.phone %></td>
                    <td>
                        <%= button_to edit_reservation_path(reservation), class:'btn btn-outline-primary', method: :get do%>
                        <i class="fa fa-pencil-square-o"></i>
                        <% end %>
                    </td>



                    <td>

                        <%= button_to reservation_path(reservation), class:'btn btn-danger', data: { confirm: 'Are you sure?' }, method: :delete do%>
                        <i class="fa fa-trash-o"></i>
                        <% end %>

                    </td>
                </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>


</div>
