<div class="container mt-5 pt-2">
    <p id="addNew" class="btn"><i class="fa fa-plus-circle text-success"></i> <%= link_to "New Reservation", new_reservation_path %></p> 
    <ul class="list-group">
        <h4 class="list-group-item text-capitalize active">All Reservations (<%= @reservations.count %>) </h4>
        <% @reservations.each_with_index do |reservation, index| %>
        <li class="list-group-item text-capitalize d-flex justify-content-between"> 
            <span class="text-capitalize">
                <%= index+1 %>. <%= link_to reservation.name, reservation_path(reservation)  %> 
            </span>

            <div class="item-control d-flex justify-content-between">
                <%= button_to 'Edit', edit_reservation_path(reservation), method: 'get', class:'btn btn-outline-primary'  %>
                <%= button_to 'Remove', reservation_path(reservation), method: 'delete', data: { confirm: 'Are you sure?' }, class:'btn btn-danger'  %>
            </div>
           
        </li>
        <% end %>
    </ul>
</div>
