<div id="reservation_form_box" class="container col-xs-12 mt-5">
    <p>
        <%= button_to :back, class:'btn btn-outline-primary', method: :get do%>
        <i class="fa fa-arrow-circle-left"></i>
        <span> Back to Home</span>
        <% end %>
    </p>

    <div class="header">
        <h2>Table Reservation Form</h2>
        <small class="text-info"> <%= Time.now.asctime %> </small>
    </div>

    <%= bootstrap_form_for(@reservation, method: "post") do |f| %>
      <!-- Name -->
      <%= f.text_field :name, required: true%>
      <!-- Number of guests -->
      <%= f.select :guestNumber, ((2..8).map {|i| [i,i] } ), label: "Number of Guest", required: true %>
      <!-- Date and time -->
      <%= f.datetime_select :datetime, required: true %>
      <!-- Phomne -->
      <%= f.telephone_field :phone, placeholder:"000-000-0000", pattern: "[0-9]{3}-[0-9]{3}-[0-9]{4}", required: true %>
      <!-- Email -->
      <%= f.email_field :email, label: "Email Address", label_class: "optional" %>
      <!-- Submit -->
      <%= f.submit "Submit", class: "btn btn-primary btn-block mt-4 pt-2 p-2 mb-5" %>
    <% end %>
    
</div>
